body {
    font-family: 'PT Sans', sans-serif;
    background-color: #c0e6ba;
    max-width: 1440px;
    margin: auto;
}

/* Common styles */

.text-center {
    text-align: center;
}

.head-text-l {
    color: #013237;
    font-weight: 700;
    font-size: 56px;
    margin: 0;
}

.head-text-m {
    color: #013237;
    font-weight: 600;
    font-size: 35px;
    margin: 0;
}

.head-text-s {
    color: #013237;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.head-text-n {
    color: #013237;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c0e6ba;
    border: 2px solid #013237;
    border-radius: 8px;
    padding: 10px 20px;
    color: #013237;
    width: 150px;
}

button:hover {
    background-color: #013237;
    color: #c0e6ba;
}

input {
    padding: 10px 5px;
    width: 300px;
    border: 2px solid #013237;
    border-radius: 5px;
    background-color: #c0e6ba;
}

.calculation-headings {
    margin-bottom: 20px;
}

.expenses-input {
    margin-bottom: 15px;
}

/* unique styles */

nav {
    padding: 20px;
    background-color: #013237;
    color: #c0e6ba;
}

#nav-head-text {
    font-weight: 700;
    font-size: 56px;
    margin: 0;
}

#nav-medium-text {
    font-weight: 600;
    font-size: 35px;
    margin: 0;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

#banner-image {
    margin-left: 100px;
}

#calculation {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#total-expense-text {
    margin-bottom: 15px;
}

#saving-amount-text {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: #013237;
    color: #c0e6ba;
    margin-top: 50px;
}